<div class="row">

  <div class="col-md-12">
    <nb-card>

      <nb-card-body>
        <button nbButton status="success" size="large" (click)="openShoppingFormDialog(false)">
          <nb-icon icon='plus-square-outline'></nb-icon>
        </button>
      </nb-card-body>
    </nb-card>
  </div>


  <div class="row" *ngFor="let platform of platforms">

    <div class="col-md-12 col-sm-12 col-lg-10 col-xxxl-9">
      <nb-card [routerLink]="['/compras',platform.id]" >
        <nb-card-header>

          <img [src]="platform.logoImg">

          <span>
            {{platform.name}}
          </span>

          R$ 5.000.000

        </nb-card-header>
        <nb-card-body>

        </nb-card-body>
      </nb-card>
    </div>


  </div>



</div>
